<a href="https://colab.research.google.com/github/akbarhidayatullah25/KKA-X-Semester-1/blob/main/1_Fungsi_print_Muhammad_akbar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Muhammad Akbar Hidayatullah

Kelas: X.8

No absen: 21

#Menampilkan Teks Bebas

In [ ]:
print("Helo world!")

Helo world!

In [ ]:
print("Muhammad Akbar Hidayatullah")

Muhammad Akbar Hidayatullah

#Menampilkan Nilai Variabel

In [ ]:
usia = 14

print(usia)

14

In [ ]:
Nama = "Muhammad Akbar Hidayatullah"

print(Nama)

Muhammad Akbar Hidayatullah

In [ ]:
BB = 53

print(BB)

53

#Menampilkan Teks Bebas Dan Nilai Variabel

In [ ]:
print(f"perkenalan nama saya {Nama}.")

perkenalan nama saya Muhammad Akbar Hidayatullah.

In [ ]:
print(f"Berat Badan Saya{BB}KG.")

Berat Badan Saya53KG.

In [ ]:
print(f"Perkenalan nama saya " + Nama)

Perkenalan nama saya Muhammad Akbar Hidayatullah

In [ ]:
print(f"Berat Badan Saya" + str (BB) + "kg.")

Berat Badan Saya53kg.

In [ ]:
print(f"Berat Badan Saya {BB} KG.")

Berat Badan Saya 53 KG.

#Escape Character

In [1]:
print ("Nama: Muhammad Akbar Hidayatullah\nKelas: X.8\nNo Absen: 21 ")

Nama: Muhammad Akbar Hidayatullah
Kelas: X.8
No Absen: 21

In [2]:

print("""Nama\t\t: Muhammad Akbar Hidayatullah
Kelas\t\t: X.8
No Absen\t: 21""")

Nama		: Muhammad Akbar Hidayatullah
Kelas		: X.8
No Absen	: 21

In [3]:
print("Nama: Ja'far shadiq\nKelas: X.8\nNo Absen: 29")

Nama: Ja'far shadiq
Kelas: X.8
No Absen: 29

In [4]:
print("Lokasi File Tugas KKA: Local Disk C: \\KKA\\Tugas Akbar")

Lokasi File Tugas KKA: Local Disk C: \KKA\Tugas Akbar

#Parameter Fungsi Print ()

In [5]:

Tahun = 2025
Bulan = "Agustus"
Tanggal = 23

print(Tahun, Bulan, Tanggal, sep="-")

2025-Agustus-23

In [6]:
nama_depan = "Akbar"
nama_belakang = "Muhammad Akbar Hidayatullah"

print(nama_depan, end=" ")
print(nama_belakang)

Akbar Muhammad Akbar Hidayatullah

In [7]:
nama_siswa_1 = "Dinda"
nama_siswa_2 = "Aurin"
nama_siswa_3 = "Lisaan"
print(nama_siswa_3, nama_siswa_2, nama_siswa_3, nama_siswa_1, sep='/')

Lisaan/Aurin/Lisaan/Dinda

In [8]:
nama_siswa_4 = "Azkal"
nama_siswa_5 = "Hasim"
nama_siswa_6 = "Chilmi"
nama_siswa_7 = "Nova"

print(nama_siswa_6, end="~")
print(nama_siswa_4)
print(nama_siswa_5, end="-")
print(nama_siswa_7)
print(nama_siswa_4, end="/")
print(nama_siswa_7, end="&")
print(nama_siswa_5)

Chilmi~Azkal
Hasim-Nova
Azkal/Nova&Hasim